:root{
    --primary-color:#FFD966;
    --font-size-normal:16px;
    --font-size-heading:20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
   
    background-color: var(--primary-color);
}
.header-col{
height: 100px;
}
.navbar{
    background-color: var(--primary-color);
}
.navbar ul{
    width:100%;
    margin-right: 50px;
}
.navbar ul li{
     border:2px solid black;
    border-right: none; 
    width:100%;
}
.navbar ul li a{
    font-weight: 900;
   height: 59px;
   font-size:var(--font-size-heading) ;
   display: block;
}
.navbar ul li a:hover{
   background-color: #c7c2c2;
}
.logo{
    height:120px;
}
.imgLogo2{
    width: 90%;
}
.navbar-toggler-btn{
    padding:5px 10px;
}
#topNavbarUl{
    text-align: center;
    transition:all 1.5s;
    overflow:hidden ;
    max-height: 0px;
}
#topNavbarUl li{
    list-style-type: none;
    border-bottom: 2px solid black;
    width:97% ;
    padding: 10px;
}
#topNavbarUl li a{
text-decoration: none;
display: block;
color:black;
}
.sidebar {
    position: fixed;
    width: 200px;
    height: 75vh;
    left: -250px;
    background-color: #111;
    padding-top: 20px;
    z-index: 3;
    transition: left 0.3s;
}

.sidebar a {
    padding: 7px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    text-align: center;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #c7c2c2;
}

.toggle-btn {
    position: fixed;
    margin-top: 5px;
    left: 10px;
    font-size: 30px;
    cursor: pointer;
    color: black;
    font-weight: 900;
    background: rgb(233, 183, 48);
    border-radius:5px;
    border: none;
    z-index: 4;
    padding: 0px 10px;
}
#sideNavbarNav ul{
font-weight: 900;
padding-left:15px ;
}
#sideNavbarNav ul li{
border: 2px solid black;
padding:14px 0px;
border-bottom: none;
}
#sideNavbarNav ul li a{
    font-size: var(--font-size-heading);
    display: block;
}
#sideNavbarNav ul li:hover{
    background-color: #c7c2c2;
    }
  .centerpanel{
 border: 2px solid black;
 border-left:none;
 height:100%;
  }
.DashboardCol{
    padding-right: 50px;
}
.DashboardContentArea{
    border-top:2px solid black;

}    
.DashboardCol .SchoolName{
    background-color: var(--primary-color);

}
.DashboardCol h1{
font-weight: 700;
}    
.DashboardContentArea .DashboardDate{
    position: absolute;
    text-align: left;
    border:1px solid black;
    padding:0px 5px;    
    font-weight: bold;
    font-size: xx-large;
    background-color: #FFD966;

}
.DashboardContentArea .mainpicture img{
    height:418px;
    width:100%;
    
}
.quickNotes button{
    position: relative;

}
.quickNotesContainer{
    border: 1px solid black;
    border-bottom: none;
}
.birthdays{
    background-color: rgb(69, 191, 212);
    line-height: 0.4;
}
/* Dashboard Style end */
/* Add New Student Start */
.addStudentCenterPanel{
    border:2px solid black;
    height:82vh;
    overflow-y: scroll;
}
.ImageBox{
    border:2px solid rgb(155, 148, 148);
    padding:2px 10px;
    background-color: white;
    height:100%;
    margin-right:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-heading);

}
.namePortion{
    border:2px solid rgb(155, 148, 148);
    background-color: white;
}
.namePortion label{
line-height: 1px;
}
.namePortion input{
    border:none;
    border-bottom: 2px solid rgb(155, 148, 148);
    width:auto;
}
.addressPortion{
    border:2px solid rgb(155, 148, 148);
  margin-top: 2px;
  background-color: white;
}
.addressPortion input{
    border:none;
}
.addressPortion label{
line-height: 1px;
}
.addressPortion .addressInput{

    border-bottom: 2px solid rgb(155, 148, 148);
    width:83%;
}
.addressPortion .addressCol{

    border: 1px solid rgb(155, 148, 148);
    
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.addressPortion .addressCol input{
     margin-left:5px;
     margin-top: 2px;
    width: 70%;
    
}

.DOBPortion .row{
    border:2px solid rgb(155, 148, 148);
    background-color: white;
    margin-bottom:2px;
    padding:3px 0px; 
 
}
.DOBPortion input{
    border:2px solid rgb(155, 148, 148);
}
.DOBPortion .cellPhone input{
width:65%;
border: none;
border-bottom:2px solid  rgb(155, 148, 148);
}
.DOBPortion .dateTime input{
width:50%;
}
.emailRow{
    border:2px solid rgb(155, 148, 148);
    padding:3px 0px; 
    background-color: white;
}
.emailRow .email{
    border:none;
    border-bottom:2px solid rgb(155, 148, 148);
    width:90%;
}
.EmergencyContact {
 background-color: white;   
 border:2px solid rgb(155, 148, 148);

}
.EmergencyContact input {
   width:100%;
   }
   .MedicalCondition{
    border:2px solid rgb(155, 148, 148);
    background-color: white;
   }
   .MedicalCondition input{
    width:40%;
    margin-left: 5px;
    border:none;
    border-bottom:2px solid rgb(155, 148, 148) ;
   }
   .trainingInfo .row .trainingCol{
    border:2px solid rgb(155, 148, 148);
    background-color: white;
   }
   .trainingInfo .row .trainingCol .col input{
    padding: 1px 0px;
    border:none;
    width:100%;
    margin:3px 0px;
    border-bottom:2px solid rgb(155, 148, 148);

   }
   .notes{
    padding-right: 16px;
    
    padding-left: 0%;

   }
   .notes .stdNotes{
    border: 2px solid rgb(155, 148, 148);
    background-color: white;
    height:99%;
    width:100%;
   }
   